@model TestaBotao.Models.Caes

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Cães</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdDono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome_Cao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome_Cao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome_Dono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome_Dono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdRaca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdRaca)
        </dd>

    </dl>
</div>
<p>

    <input type="button" class="btn btn-success" value="Editar" onclick="location.href='@Url.Action("Edit", "Caes", new { id = Model.IdCao })'" /> |
   
    <input type="button" class="btn btn-primary" value="Voltar" onclick="location.href='@Url.Action("Index", "Caes")'" />
</p>
