@model IEnumerable<TestaBotao.Models.Donos>

@{
    ViewBag.Title = "Index";
}

<h2>Cadastro de Donos</h2>

<p>
    
    <input type="button" class="btn btn-primary" value="Adicionar Dono" onclick="location.href='@Url.Action("Create", "Donos")'" /> 
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome_Dono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome_Dono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            <input type="button" class="btn btn-success" value="Editar" onclick="location.href='@Url.Action("Edit", "Donos", new { id = item.IdDono })'" /> |
            <input type="button" class="btn btn-info" value="Detalhes" onclick="location.href='@Url.Action("Details", "Donos", new { id = item.IdDono })'" /> |
            <input type="button" class="btn btn-danger" value="Deletar" onclick="location.href='@Url.Action("Delete", "Donos", new { id = item.IdDono })'" /> |
        </td>
    </tr>
}

</table>
